@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
body {
	text-align: center;
}

#app {
	background-image: url(../images/milkbg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	max-width: 768px;
	position: relative;
	margin: 0 auto;
}

* {
	box-sizing: border-box;
	font-family: 'Noto Sans TC', sans-serif !important;
}

img {
	max-width: 100%;
}

b {
	font-weight: bold;
}

.f23 {
	font-size: 23px;
}

.f26 {
	font-size: 26px;
}

.f28 {
	font-size: 28px;
}

.f32 {
	font-size: 32px;
}

.f34 {
	font-size: 34px;
}

.f45 {
	font-size: 45px;
}

.f50 {
	font-size: 50px;
}

.f55 {
	font-size: 55px;
}

.f70 {
	font-size: 70px;
}

.f80 {
	font-size: 80px;
}

.f_red {
	color: #cc0000;
}

.W100 {
	width: 100% !important;
}

.bg_white {
	background-color: #fff;
}

.app-header {
	text-align: center;
	position: relative;
	display: inline-block;
	width: 100%;
	.ques {
		float: left;
		width: 70px;
		line-height: 70px;
		margin: 38px 0 0 38px;
		border-radius: 50%;
		font-weight: 900;
		text-align: center;
		color: #44150d;
		background-color: #ffec9e;
		text-decoration: none;
		@media (max-width: 650px) {
			width: 50px;
			line-height: 50px;
			margin: 20px 0 0 20px;
		}
	}
	.logo {
		position: absolute;
		top: 18px;
		left: 50%;
		width: 20%;
		transform: translate(-50%, 0);
	}
	.home {
		float: right;
		width: 70px;
		line-height: 70px;
		margin: 38px 38px 0 0;
		border-radius: 50%;
		background-color: #44150d;
		img {
			width: 60%;
			vertical-align: middle;
			margin-top: -10%;
		}
		@media (max-width: 650px) {
			width: 50px;
			line-height: 50px;
			margin: 20px 20px 0 0;
		}
	}
}

.kv {
	width: 50%;
	margin: -15px auto 20px;
	display: block;
}
.coin_wrap {
	width: 88%;
	margin: 0 auto 25px;
	padding: 22px 20px;
	border-radius: 25px;
	border: dashed 4px #ffffff;
	background-color: #44150d;
	background-image: url(../images/Hcoin_bg.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 650px) {
		padding: 12px 20px;
		border-radius: 12px;
		border-width: 2px;
		margin-bottom: 12px;
		background-size: 60px;
	}
	@media (max-width: 414px) {
		padding: 11px 10px;
	}
	.photo {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: solid 2px #ffffff;
		background-repeat: no-repeat;
		background-size: cover;
		display: inline-block;
		margin-right: 40px;
		margin-left: 20px;
		@media (max-width: 710px) {
			margin-right: 20px;
			margin-left: 10px;
		}
		@media (max-width: 650px) {
			width: 48px;
			height: 48px;
			margin-right: 20px;
		}
		@media (max-width: 390px) {
			width: 40px;
			height: 40px;
			margin-right: 10px;
		}
	}
	.detail {
		display: inline-block;
		h5 {
			padding-bottom: 12px;
			color: #fff;
			@media (max-width: 650px) {
				padding-bottom: 8px;
			}
		}
	}
}

.coin {
	font-weight: bold;
	color: #ffec9e;
	padding-left: 60px;
	background-image: url(../images/Hcoin.png);
	background-size: 50px;
	background-position: left center;
	background-repeat: no-repeat;
	@media (max-width: 650px) {
		background-size: 30px;
		padding-left: 40px;
	}
	@media (max-width: 375px) {
		background-size: 20px;
		padding-left: 30px;
	}
}

.btn {
	width: 50%;
	padding: 33px 0;
	border-radius: 15px;
	background-color: #fecb00;
	text-align: center;
	margin: 0 10px;
	flex-grow: 1;
	position: relative;
	overflow: hidden;
	&.small,
	&.goDraw {
		width: auto;
		flex-grow: 0;
		margin-right: 0;
		padding-left: 15px;
		padding-right: 20px;
	}
	&.small {
		padding: 15px 15px 15px 20px;
		@media (max-width: 650px) {
			padding: 8px 8px 8px 10px;
		}
		p {
			line-height: 1.2;
		}
	}
	&.red {
		width: 80%;
		background-color: #cc0000;
		p {
			color: #fff;
			&:after {
				border-color: transparent transparent transparent #fff;
			}
		}
	}
	&.submit {
		background-color: #44150d;
		p {
			color: #fff;
			&:after {
				border-color: transparent transparent transparent #fff;
			}
		}
	}
	.milk {
		width: 67px;
		opacity: 0.4;
		position: absolute;
		right: 0;
		top: 27px;
		transform: rotate(-18deg);
		@media (max-width: 650px) {
			width: 40px;
			top: 14px;
		}
	}
	@media (max-width: 650px) {
		padding: 20px 0;
		margin: 0 5px;
		border-radius: 7px;
	}
	p {
		color: #44150d;
		display: inline-block;
		font-weight: bold;
		position: relative;
		padding-right: 35px;
		@media (max-width: 650px) {
			padding-right: 20px;
		}
		&:after {
			display: inline-block;
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 15px 0 15px 20px;
			border-color: transparent transparent transparent #44150d;
			margin-left: 10px;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			-moz-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			-o-transform: translate(0, -50%);
			@media (max-width: 650px) {
				border-width: 7px 0 7px 10px;
			}
		}
		&.btn_upload {
			background-image: url(../images/upload.svg);
			background-position: right center;
			background-repeat: no-repeat;
			background-size: 42px;
			padding-right: 50px;
			@media (max-width: 650px) {
				background-size: 21px;
				padding-right: 25px;
			}
			&:after {
				display: none;
			}
		}
	}
}

.achieve {
	text-align: center;
	> img {
		margin: 25px auto 15px;
		width: 34%;
		@media (max-width: 650px) {
			margin: 12px auto 8px;
		}
	}
	ul {
		width: 88%;
		margin: 0 auto 30px;
		padding: 10px 0;
		border-radius: 25px;
		background-color: #e8e8e8;
		@media (max-width: 650px) {
			border-radius: 12px;
		}
		li {
			padding: 30px;
			border-bottom: dashed 4px #ffffff;
			@media (max-width: 650px) {
				padding: 15px 0;
				border-width: 2px;
			}
			&:last-child {
				border-bottom: none;
			}
			> * {
				display: inline-block;
				box-sizing: border-box;
				vertical-align: middle;
			}
			img {
				width: 23%;
				@media (max-width: 650px) {
					width: 21%;
				}
			}
			.detail {
				width: 52%;
				text-align: left;
				padding-left: 5%;
				@media (max-width: 650px) {
					width: 48%;
					padding-left: 3%;
				}
				h6 {
					color: #44150d;
					padding-bottom: 10px;
					padding-top: 10px;
					font-weight: bold;
					@media (max-width: 650px) {
						padding-bottom: 0 !important;
					}
				}
				.des {
					color: #313131;
					padding-bottom: 10px;
				}
				p {
					color: #44150d;
					line-height: 50px;
					height: 50px;
					@media (max-width: 650px) {
						line-height: 30px;
						height: 30px;
						padding-bottom: 0 !important;
					}
				}
			}
			.btn {
				width: 19%;
				margin: 0;
				&.canReceive,
				&.canCheck {
					color: #fff;
					background-color: #cc0000;
				}
				&.done {
					color: #373737;
					background-color: #b9b9b9;
				}
				&.notYet {
					color: rgba(0, 0, 0, 0.3);
					background-color: #b9b9b9;
				}
			}
		}
	}
}

.btn_area {
	display: flex;
	width: 90%;
	margin: 0 auto;
}

.upload,
.upload_get,
.store_coin {
	width: 88%;
	background-color: #e8e8e8;
	border-radius: 25px;
	padding: 60px 0 40px;
	margin: 20px auto;
	@media (max-width: 650px) {
		border-radius: 12px;
		padding: 30px 0 20px;
		margin: 10px auto;
	}
	label {
		display: block;
		p {
			line-height: 1.4;
			margin-bottom: 30px;
			font-weight: bold;
			@media (max-width: 650px) {
				margin-bottom: 15px;
			}
			font {
				color: #cc0000;
			}
		}
	}
	.btn {
		margin-left: auto;
		margin-right: auto;
	}

	.img-thumbnail {
		width: 60%;
		margin: 0 auto 40px;
		@media (max-width: 650px) {
			margin: 0 auto 20px;
		}
	}
}

.warning {
	text-align: left;
	line-height: 1.4;
	width: 88%;
	margin: 0 auto 40px;
	.f_red {
		margin-bottom: 24px;

		background-image: url(../images/note.svg);
		background-position: left 5px top;
		background-repeat: no-repeat;
		padding-left: 60px;
		background-size: 34px;
		@media (max-width: 650px) {
			margin-bottom: 12px;
			padding-left: 30px;
			background-size: 17px;
		}
	}
	ul {
		padding-left: 40px;
		@media (max-width: 650px) {
			padding-left: 20px;
		}
	}
	li {
		color: #44150d;
		list-style-position: outside;
		list-style: decimal;
	}
}

.upload {
	.btn {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.upload_get {
	> p {
		margin: 0 5%;
		position: relative;
		line-height: 1.8;
		padding-bottom: 10px;
		font-weight: bold;
		img {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
		}
	}
}

.store_coin {
	.f45 {
		color: #44150d;
		line-height: 1.5;
	}
	.animate_img {
		img {
			// margin: 20px auto 40px;
		}
	}
}

.earn_coin {
	background-color: #cc0000;
	color: #fff;
	width: 120px;
	text-align: center;
	border-radius: 50%;
	position: relative;
	display: inline-block;
	@media (max-width: 650px) {
		width: 60px;
	}
	img {
		position: absolute;
		width: 50%;
		bottom: 0;
		right: 0;
		transform: translate(30%, 0%);
	}
	p {
		font-size: 80px;
		line-height: 110px;
		height: 120px;
		@media (max-width: 650px) {
			font-size: 40px;
			line-height: 55px;
			height: 60px;
		}
	}
}

.comebined_img {
	width: 60%;
	margin: 20px auto 40px;
	@media (max-width: 650px) {
		margin: 10px auto 20px;
	}
	img {
		width: 100%;
	}
}

.ads {
	margin: 0 auto;
	width: 90%;
	background-color: #d8d8d8;
	border-radius: 25px;
	height: 105px;
	padding: 12px 12px 12px 65px;
	position: relative;
	overflow: hidden;
	@media (max-width: 650px) {
		border-radius: 12px;
		height: 52px;
		padding: 6px 6px 6px 32px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-ms-border-radius: 12px;
		-o-border-radius: 12px;
	}
	.sub_title {
		background-color: #44150d;
		color: #fecb00;
		position: absolute;
		width: 65px;
		height: 100%;
		left: 0;
		top: 0;
		-webkit-writing-mode: vertical-lr;
		writing-mode: vertical-lr;
		line-height: 65px;
		@media (max-width: 650px) {
			line-height: 32px;
			width: 32px;
		}
	}
	> * {
		display: inline-block;
		vertical-align: middle;
	}
	img {
		width: 13%;
		margin-right: 3%;
	}
}

.pop {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	.content {
		background-color: #ffec9e;
		border-radius: 25px;
		padding: 130px 20px 90px;
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #44150d;
		line-height: 1.5;
		@media (max-width: 650px) {
			padding: 65px 10px 45px;
			border-radius: 12px;
		}
		&.receive_success {
			padding: 110px 0 140px;
			line-height: 1.5;
			@media (max-width: 650px) {
				padding: 50px 0 70px;
			}
		}
		&.login {
			padding-bottom: 60px;
			padding-top: 65px;
			@media (max-width: 650px) {
				padding-bottom: 30px;
				padding-top: 33px;
			}
		}
		&.login_award {
			padding: 0 20px 0;
			background-color: transparent;
			.close {
				display: none;
			}
			h3 {
				color: #ffec9e;
				font-weight: bold;
			}
			h4 {
				color: #fff;
				line-height: 62px;
				padding-top: 24px;
				@media (max-width: 650px) {
					padding-top: 10px;
					line-height: 30px;
				}
				span {
					padding-left: 5px;
					line-height: 62px;
					display: inline-block;
					vertical-align: text-top;
					&.f80 {
						color: #fecb00;
						margin: -6px 10px 0;
					}
				}
			}
			.img_wrap {
				margin-top: -150px;
				margin-bottom: 140px;
				position: relative;
				@media (max-width: 650px) {
					margin-bottom: 70px;
					margin-top: -90px;
				}
				.gift {
					width: 100%;
				}
				.pure_coin {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, 0);
					-webkit-transform: translate(-50%, 0);
					-moz-transform: translate(-50%, 0);
					-ms-transform: translate(-50%, 0);
					-o-transform: translate(-50%, 0);
					animation: coinShow 1.4s;
					-webkit-animation: coinShow 1.4s;
					-moz-animation-iteration-count: 1;
					@media (max-width: 650px) {
						width: 50px;
					}
				}
			}
		}

		&.rules {
			overflow-y: scroll;
			.under_line:before {
				background-color: #fecb00;
			}
		}
		.dash_box {
			width: 96%;
			padding: 5%;
			border: dashed 4px #cc0000;
			margin: 4% auto;
			.item {
				padding: 0 5% 5%;
				border-bottom: solid 1px #cc0000;
				.f_red {
					padding-bottom: 5%;
				}
				p {
					padding-top: 5%;
				}
			}
		}

		.cow,
		.present {
			position: absolute;
			top: 0;
			left: 0;
			width: 82%;
			transform: translate(-6%, -40%);
		}
		.present {
			width: 40%;
			left: 50%;
			transform: translate(-50%, -30%);
			-webkit-transform: translate(-50%, -30%);
			-moz-transform: translate(-50%, -30%);
			-ms-transform: translate(-50%, -30%);
			-o-transform: translate(-50%, -30%);
		}
		p {
			line-height: 1.2;
		}
		.f_red {
			padding-top: 30px;
			display: inline-block;
			@media (max-width: 650px) {
				padding-top: 15px;
			}
		}
		.award {
			width: 80%;
			margin-top: 50px;
			margin-bottom: 120px;
			@media (max-width: 650px) {
				margin-top: 25px;
				margin-bottom: 60px;
			}
		}
		.milk {
			width: 20%;
			margin-top: 40px;
			margin-bottom: 20px;
			@media (max-width: 650px) {
				margin-top: 20px;
			}
		}

		.present_title {
			position: relative;
			padding: 0 14%;
			margin-bottom: -20px;
			@media (max-width: 650px) {
				margin-bottom: -10px;
			}
			img {
				position: relative;
				line-height: 1.8;
				padding-bottom: 10px;
				font-weight: bold;
				&.line {
					position: absolute;
					width: 100%;
					top: 0;
					left: 0;
				}
			}
		}
		.login_list {
			margin: 40px 4% 0;
			@media (max-width: 650px) {
				margin: 20px 4% 0;
			}
			ul {
				border: dashed 4px #cc0000;
				display: flex;
				flex-wrap: wrap;
				padding: 10px 0;
			}
			li {
				padding: 8px 16px 16px;
				width: 33%;
				text-align: center;
				@media (max-width: 650px) {
					padding: 4px 8px 8px;
				}
				.bg_white {
					padding: 12px;
					background-color: #fff;
					border-radius: 25px;
					position: relative;
					@media (max-width: 650px) {
						border-radius: 12px;
						padding: 6px;
					}
					.check {
						position: absolute;
						right: 0;
						bottom: 0;
						width: 40%;
						-webkit-transform: translate(28%, 20%);
						-ms-transform: translate(28%, 20%);
						transform: translate(28%, 20%);
						opacity: 0;
					}
				}
				span {
					display: block;
				}
				p {
					display: inline-block;
					width: 80%;
					border-radius: 50%;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					-ms-border-radius: 50%;
					-o-border-radius: 50%;
					padding: 12px 18px;
					margin-top: 8px;
					max-width: 93px;
					@media (max-width: 650px) {
						padding: 6px 9px;
					}
				}
				&.done {
					p {
						background-color: #cc0000;
					}
					.check {
						opacity: 1;
					}
				}
				&.W100 {
					.bg_white {
						background-image: url(../images/login_bg.png);
						background-size: cover;
						background-position: center;
					}
					.check {
						width: 12%;
					}
					p {
						width: 23%;
					}
				}
			}
		}
		.close {
			width: 70px;
			line-height: 70px;
			border-radius: 50%;
			background-color: #fecb00;
			font-size: 45px;
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(50%, -50%);
			@media (max-width: 650px) {
				width: 40px;
				line-height: 40px;
				font-size: 22px;
			}
		}
		.btn {
			position: absolute;
			bottom: -100px;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 60%;
			@media (max-width: 650px) {
				bottom: -50px;
			}
		}
	}
	.success {
	}
}

.spotLight {
	position: relative;
	z-index: 100;
	border: 3px solid #fff;
}

.under_line {
	font-weight: bold;
	position: relative;
	display: inline-block;
	&:before {
		content: '';
		display: block;
		height: 80%;
		width: 120%;
		left: -10%;
		position: absolute;
		bottom: -20%;
		background-color: #ffec9e;
	}
	font {
		position: relative;
		z-index: 5;
	}
}

.guide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	.slideshow {
		height: 100vh;
		.slider,
		.slick-list {
			height: 100vh;
			z-index: 100;
		}
	}
	.item {
		height: 100vh;
		position: relative;
		z-index: 1;
		outline: none;
		p {
			color: #ffec9e;
			position: absolute;
			line-height: 1.3;
			left: 0;
		}
		img {
			width: 100px;
			position: absolute;
			z-index: 1200;
			@media (max-width: 650px) {
				width: 51px;
			}
		}
		&.slide_1 {
			p {
				top: calc(26vw + 380px);
				width: 100%;
				@media (max-width: 650px) {
					top: calc(26vw + 230px);
				}
			}
			img {
				top: calc(26vw + 300px);
				right: 10px;
				@media (max-width: 650px) {
					top: calc(26vw + 190px);
				}
			}
		}
		&.slide_2 {
			p {
				top: calc(26vw + 290px);
				width: 80%;
				left: 17%;
				@media (max-width: 650px) {
					top: calc(26vw + 150px);
				}
			}
			img {
				top: calc(26vw + 200px);
				right: 10px;
				@media (max-width: 650px) {
					top: calc(26vw + 100px);
				}
			}
		}
		&.slide_3 {
			p {
				top: calc(26vw + 520px);
				width: 100%;
				@media (max-width: 650px) {
					top: calc(26vw + 360px);
				}
				@media (max-width: 425px) {
					top: calc(26vw + 310px);
				}
				@media (max-width: 375px) {
					top: calc(26vw + 290px);
				}
			}
			img {
				top: calc(26vw + 800px);
				right: 10px;
				@media (max-width: 650px) {
					top: calc(26vw + 500px);
				}
				@media (max-width: 425px) {
					top: calc(26vw + 460px);
				}
				@media (max-width: 375px) {
					top: calc(26vw + 445px);
				}
			}
		}
	}
}

ul.slick-dots {
	bottom: inherit;
	top: calc(100vh - 50px);
}

.slick-dots li button {
	border-radius: 50%;
	width: 14px;
	height: 14px;
	background-color: #808080;
	&:before {
		content: '';
	}
}

.slick-dots li.slick-active button {
	background-color: #fecb00;
}

@media (max-width: 650px) {
	.f23 {
		font-size: 11px;
	}
	.f26 {
		font-size: 13px;
	}

	.f28 {
		font-size: 14px;
	}

	.f32 {
		font-size: 16px;
	}

	.f34 {
		font-size: 17px;
	}

	.f50,
	.f45 {
		font-size: 25px;
	}

	.f55 {
		font-size: 27px;
	}

	.f70 {
		font-size: 35px;
	}

	.f80 {
		font-size: 40px;
	}
}

@keyframes coinShow {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
