header.app-header
	//- a.ques.f50(href='ques.html') ?
	// Sidebar toggle button
	img.logo(src="images/logo.png", alt="")

	nav(role="navigation")
		ul#menu
			a(href="./index.html")
				li.f45
					span 回首頁
			a(href="javascript:alert('製作中...')")
				li.f45
					span 活動辦法
			a(href="javascript:alert('敬請期待')")
				li.f45
					span 得獎名單
		#menuToggle
			span
			span
			span


img.kv(src="images/title.svg", alt="")
