header.app-header
	a.ques(href='ques.html') ?
	// Sidebar toggle button
	img.logo(src="images/logo.png", alt="")

	a.home(href='/')
		img(src="images/home.svg", alt="")

img.kv(src="images/title.svg", alt="")
