header.app-header
	//- a.ques.f50(href='ques.html') ?
	// Sidebar toggle button
	img.logo(src="images/logo.png", alt="")

	nav(role="navigation")
		ul#menu
			a(href="./index.html")
				li.f45
					span 回首頁
			a(href="/upload.html")
				li.f45
					span 上傳照片
			a(href="store.html")
				li.f45
					span 立即存健康抽獎
			a(href="/pop_rules.html")
				li.f45
					span 活動辦法
			a(href="https://business.facebook.com/972686996155075/posts/3680394908717590/", target="_blank")
				li.f45
					span 得獎名單
		#menuToggle
			span
			span
			span


img.kv(src="images/title.svg", alt="")
