// Essential javascripts for application to work
script(src='js/plugins/pace.min.js')
script(src='js/plugins/libgif.js')
script(src='js/jquery-3.3.1.min.js')
script(src='js/plugins/axios.min.js')
script(src="js/plugins/slick.min.js")
script(src="https://static.line-scdn.net/liff/edge/2/sdk.js" charset="utf-8" )
script(src="https://cdn.jsdelivr.net/npm/vconsole@3.2.0/dist/vconsole.min.js")
script.
	var vConsole = new VConsole();

script(src='js/request.js' defer)
script(src='js/main.js' defer)
