extends layouts/_layout_no_header.pug
include mixins/components.pug

block variables
	- var showHomeIcon = false;

block title
	title 一天一杯克寧 存健康拿好禮

block content
	.form_page
		.form_title
			img(src="images/title_send.svg", alt="")
			img.line(src="images/title_line02.svg", alt="")

		.warning
			.f_red.f26
				| 請填入真實資料，以利活動小組進行後續中獎通知，
				br
				| 若是資料有誤，將無法參與本活動唷!

		h3.f34.under_line
			font 獎品內容
		h4.f50.f_red Switch健身環組

		form
			div.tr.f34
				label 姓名
				input(type="text")
			div.tr.f34
				label 手機
				input(type="tel")
			div.tr.f34
				label Email
				input(type="mail")
			div.tr.f34
				label 地址
				input(type="text")
			.agree_wrap
				input#agreement(type="radio")
				label.f26(for="agreement") 我已詳細閱讀
					a.f_red(href="rules.html") 活動辦法
					| 與
					a.f_red(href="person.html") 個資法
					| 並同意該聲明書


		+btn('submit')
			a(href="sent_form.html")
				p.f34 確認送出


block specific-css
	link(rel='stylesheet', type='text/css', href='css/form_rules.css')
