extends layouts/_layout.pug
include mixins/components.pug

block variables
	- var showHomeIcon = false;

block title
	title 一天一杯克寧 存健康拿好禮

block content
	+coin('images/userphoto.png', 140)
	.btn_area(style="width: 80%")
		+btn('red')
			a(href="upload.html")
				p.f34 上傳喝克寧照片拿健康幣

			img.milk(src="images/milkphoto_w.png", alt="")


	.achieve
		img(src="images/title_medal.svg", alt="")
		ul
			li
				img(src="images/medal_login.png", alt="")
				.detail
					h6.title.f32 每日登入驚喜
				.btn.f32.canCheck 查看

			li
				img(src="images/medal_3day_no.png", alt="")
				.detail
					h6.title.f32 勤奮努力獎
					p.des.f28
						| 連續3天上傳
						font (3/3)
					p.coin.f32 x 3
				.btn.f32.canReceive 領取

			li
				img(src="images/medal_first.png", alt="")
				.detail
					h6.title.f32 首次完成獎
					p.des.f28
						| 連續3天上傳
					p.coin.f32 + 5
				.btn.f32.done 未領取

			li
				img(src="images/medal_7day_no.png", alt="")
				.detail
					h6.title.f32.f32 天天健康獎
					p.des.f28
						| 連續7天上傳
						font (3/7)

					p.coin.f32.f28 x 5
				.btn.f32.notYet 未達成



	.guide
		.slideshow
			.slider
				.item.slide_1
					p.f50 立刻上傳照片拿金幣
					img(src="images/finger.svg", alt="")
				.item.slide_2
					p.f50
						| 存入一枚健康幣，
						br
						| 立即抽一次獎
					img(src="images/finger.svg", alt="")
				.item.slide_3
					p.f50
						| 只要達成特定條件
						br
						| 就可以讓健康幣加倍喔!

					img(src="images/finger.svg", alt="")





block specific-js
	script(type='text/javascript', src="js/plugins/slick.min.js")
	script(type='text/javascript').
		$(document).ready(function(){
			$('.slider').slick({
				arrows: true,
				dots: true,
				speed: 600,
				infinite: false,
			});

			$('.btn.red').addClass('spotLight');

			$('.slider').on('beforeChange', function(event, slick, direction){
				$('.spotLight').removeClass('spotLight');
			})

			$('.slider').on('afterChange', function(event, slick, direction){
				var currentSlide = slick.currentSlide;
				switch(currentSlide) {
					case 0: {
							$('.btn.red').addClass('spotLight');
						}
						break;
					case 1: {
							$('.btn.small').addClass('spotLight');
						}
						break;
					default: {
							$('.canReceive').addClass('spotLight');
						}

				}

			});

		})




