extends layouts/_layout.pug
include mixins/components.pug

block variables
	- var showHomeIcon = false;

block title
	title 一天一杯克寧 存健康拿好禮


block content
	+vue_coin('','{{info.coins}}','')
	.btn_area(style="width: 80%" @click.prevent="GoToURL('upload.html')")
		+btn('red')
			a(href="upload.html")
				p.f34 上傳喝克寧照片拿健康幣

			img.milk(src="images/milkphoto_w.png" alt="")


	.achieve()
		//- .notYet 未達成
		//- .canCheck 查看
		//- .done 未領取
		//- .canReceive 領取
		img(src="images/title_medal.svg" alt="")
		ul
			li
				img(src="images/medal_login.png" alt="")
				.detail
					h6.title.f32 每日登入驚喜
				.btn.f32.canCheck(v-if="info.signInCount > 0" @click.prevent="OpenPopLogin") 查看
				.btn.f32.done(v-if="info.signInCount == 0" @click.prevent="OpenPopLogin") 無資格

			li(v-for="(item, index) in info.achievements")
				img(:src="item.icon" alt="")
				.detail
					h6.title.f32 {{item.title}}
					p.des.f28
						| {{item.description}}
						font.f_red(v-show="true")
							| ({{item.currentCount}}/{{item.amount}})
					p.coin.f32 + {{item.reward}}
				.btn.f32.notYet(v-if="item.isFinished===false && item.isReceived===false")
					| 未達成
				.btn.f32.canReceive(v-if="item.isFinished===true && item.isReceived===false" @click.prevent="GetAchievement(item.name)")
					| 領取
				.btn.f32.done(v-if="item.isFinished===true && item.isReceived===true")
					| 已領取

	.guide(style="display: none" v-show="isShowGuide")
		.slideshow
			.slider
				.item.slide_1
					p.f50 立刻上傳照片拿金幣
					img(src="images/finger.svg" alt="")
				.item.slide_2
					p.f50
						| 存入一枚健康幣，
						br
						| 立即抽一次獎
					img(src="images/finger.svg" alt="")
				.item.slide_3
					p.f50
						| 只要達成特定條件
						br
						| 就可以讓健康幣加倍喔!
					img(src="images/finger.svg" alt="")

	+pop('login','popLogin','','ClosePopLogin')
	+pop('receive_success','popReceive','','ClosePopReceive')
	+pop('receive_success_short','popReceiveShort','','ClosePopReceiveShort')
	+pop('login_award', 'popLoginAward_1', 'login_award_1')
	+pop('login_award', 'popLoginAward_2', 'login_award_2')
	+pop('login_award', 'popLoginAward_3', 'login_award_3')
	+pop('login_award', 'popLoginAward_4', 'login_award_4')
	+pop('login_award', 'popLoginAward_5', 'login_award_5')
	+pop('login_award', 'popLoginAward_6', 'login_award_6')
	+pop('login_award', 'popLoginAward_7', 'login_award_7')



block specific-js
	script(src='js/plugins/vue.min.js')
	script(type='text/javascript' src="js/index.js?v=2")




