extends layouts/_layout_no_header.pug

block variables
	- var showHomeIcon = false;

block title
	title 一天一杯克寧 存健康拿好禮


block content
	img(src="images/milkphoto1.jpg", alt="", width="100%")










