extends layouts/_layout.pug
include mixins/components.pug

block variables
	- var showHomeIcon = false;

block title
	title 天天喝克寧，存健康抽好禮


block content
	.pop
		.content.rules
			.close
				a(href="./" style="color: #44150d; text-decoration: none;") X
			.scroll
				.present_title
					img(src="images/title_note.svg", alt="", width="70%")
					img.line(src="images/title_line03.svg", alt="")

				p.f34.under_line
					font 活動期間

				.txt
					p.f26.t_left
						| 2021/1/29 00:00至2021/4/30 23:59
						br

				p.f34.under_line
					font 活動辦法

				.txt
					ul.f26.t_left
						li 參加者每上傳一張符合指定規則「內含克寧純生乳(100%天然純淨即溶)/克寧全家人奶粉系列產品+一杯牛奶(不限容器)」的照片，即可獲得一枚健康幣，一枚健康幣可抽一次獎。
						li 上傳的每張照片皆須符合「內含克寧純生乳(100%天然純淨即溶)或是克寧全家人奶粉系列產品+一杯牛奶(不限容器)」規則，中獎時方屬有效，若有任一照片經主辦單位檢查後不符合規則，將取消中獎者資格。
						li 不得重複上傳相同的照片，或與他人重複上傳相同的照片，經主辦單位檢查後重複者，將取消獲獎資格。
						li 一天僅限上傳一張照片。
						li 上傳照片若符合以下指定條件者，則可以累積更多健康幣：
						.detail.f26
							p.circle 達成以下成就指定條件，即可解鎖該成就
							p.circle 每項成就僅能解鎖一次，惟親朋好友獎不在此限
							p.circle 每人可解鎖多項成就，每項成就可同時累積兌換
							.t_center
								h4.f32 成就種類
							br
							p.f_red.title 見面禮：
							p 上傳第一張照片，健康幣
								font.f_red +3
							p.f_red.title 邁向健康獎：
							p 累積上傳3天照片者，健康幣
								font.f_red +5
							p.f_red.title 健康鼓勵獎：
							p 累積上傳5天照片者，健康幣
								font.f_red +10
							p.f_red.title 頭好壯壯獎：
							p 累積上傳7天照片者，健康幣
								font.f_red +15
							p.f_red.title 超級健康獎：
							p 連續3天上傳照片者，健康幣
								font.f_red +10
							p.f_red.title 親朋好友獎：
							p 上傳照片並分享該合成圖框給好友者，健康幣
								font.f_red +1
							p.f_red.title 新春特別獎：
							p 新春年假期間(2/10-2/21)上傳1次照片者，健康幣
								font.f_red +3

						li 每位參加者可重複中獎，參與次數越多，中獎機率越大

						li 所有健康幣需於2021/4/30 23:59前使用完畢，逾期視同放棄所有健康幣抽獎權利。


				p.f34.under_line
					font 活動獎項

				.dash_box
					.item
						.t_center
							h4.f32 首獎
						h2.f_red.f45(style="padding-top:0")
							| 身心純淨之旅
							br
							font.f32 涵碧樓湖景套房(雙人房)假日住宿券
						img(src="images/hotel.png", alt="", width="50%")
						p.f26 共3份/ 每月(2021.2-4月)抽出1份


					.item
						.t_center
							h4.f32 二獎
						h2.f_red.f45(style="padding-top:0") Switch+健身環組合
						img(src="images/switch.png", alt="", width="90%")
						p.f26 共6組/ 每月(2021.2-4月)抽出2套


					.item
						.t_center
							h4.f32 天天健康獎
						h2.f_red.f45(style="padding-top:0") 克寧限量馬克杯
						img(src="images/cup.png", alt="", width="45%", style="margin-left: -10%; padding: 10px 0;")
						p.f26 共480個/ 每月(2021.2-4月)抽出160個

					.item
						h2.f_red.f45 克寧純生乳奶粉隨手包
						img(src="images/milkbag.png", alt="", width="30%", style="padding: 10px 0;")
						p.f26 共720包/ 每月(2021.2-4月)抽出240包

					.item
						h2.f_red.f45
							| LINE Points
						+linePoint('50', '90組/每月抽出30份', '(兌換效期至2022.6.28)')
						br
						br
						+linePoint('30', '300組/每月抽出100份','(兌換效期至2022.6.28)')


				p.f34.under_line
					font 獎品兌獎方式

				.txt
					ul.f26.t_left
						li 每次抽獎即可立即得知有無中獎，中獎審核及獎品寄送作業時間請見以下：
						.detail.f26
							p.circle 第一梯次中獎: 2021/1/29~2021/2/28 (含)中獎，2021/3/31前(含)完成寄送。
							p.circle 第二梯次中獎: 2021/3/1~2021/3/31(含)中獎，2021/4/30前(含)完成寄送。
							p.circle 第三梯次中獎: 2021/4/1~2021/4/30(含)中獎，2021/5/30前(含)完成寄送
						li 若抽中以下獎品: 涵碧樓湖景套房(雙人房)假日住宿券、Switch+健身環組合、克寧限量馬克杯、克寧純生乳奶粉隨手包。系統將發送寄送資料填寫頁面，填寫完畢後將由活動小組專人與中獎者聯繫。若因寄送資料填寫有誤、未填寫等情況而導致獎品無法寄出，則視為自動棄權，不具中獎者資格。
						li 中獎者資料經審核無誤後，獎項將於中獎後45個工作天內寄送完成。
						li 克寧奶粉Facebook官方粉絲專頁 (https://www.facebook.com/KLIM.Taiwan/) 將統一於3/5、4/9、5/7公告上個月所有獎項中獎名單，以供參加者查閱。
						li 本活動限設籍中華民國之本國公民始得參加，參加者必須年滿20足歲。
						li 依中華民國稅法規定，獎項價值NT$1,001元(含)以上者，需繳交身分證影本供報稅使用。獎項價值超過NT$20,000元，依法需繳交10％稅金，填寫扣繳憑單並於次年度寄發所得扣(免)繳憑單。中獎者將於次年度收到主辦單位開立之中獎所得扣繳憑單。中獎者若不願意配合，則視為自動棄權，不具中獎者資格。中獎人同意依中華民國相關稅法規定繳納稅捐，並同意主辦單位得依相關法令代扣(繳納)相關稅務。財政部臺北國稅局實施「憑單無紙化」，自2014年起所得稅各式憑單符合一定情形者，憑單填發單位如期向國稅局辦理憑單申報後，原則上免寄發憑單給納稅義務人。中獎者需於隔年5月底前完成申報。
						li 《克寧奶粉活動小組》將依據寄送資料填寫頁面資訊，主動聯繫獎項價值超過NT$1,001元(含)以上中獎者，並提供得獎領據，請中獎者填妥後於2021.5.30前(以郵戳為憑)將「得獎領據」+「身分證正反面影本」掛號寄給《克寧奶粉活動小組》，逾期視為放棄該中獎權利，不得向主辦單位要求任何補償。
						li 主辦單位使用參加者所提供之個人資料(包括: 姓名、生日、手機/市內電話、戶籍地址、獎品收件地址以及身分證正反面影本內有的資料)於此次活動用途及嗣後的行銷活動，且遵守【個人資料保護法】相關規定，以維護參加者權益。中獎者一經寄出上條所述之資料，即視為同意中獎相關個人資料由主辦單位於活動範圍內進行蒐集、電腦處理及利用，但不做其他用途，中獎者並授權主辦單位在必要時公開公布部分姓名。


				p.f34.under_line
					font 注意事項

				.txt
					ul.f26.t_left
						li 此次活動由虎龍犬工作室協助台灣雀巢股份有限公司舉辦，主辦單位保留變更、修改或終止本活動之權利；主辦單位並有權就本活動所有事宜進行審查並做出解釋，任何人均不得異議。
						li 參加者同意所有參加者所留存或產生之任何參與活動的資料及紀錄，皆以主辦單位的電腦系統與時間的紀錄為主。如有任何因電腦、網路、電話、技術或不可歸責於主辦單位之事由，而使參加者送出之資料有延遲、遺失、錯誤、無法辨識之情況，主辦單位不承擔任何相關責任，參加者不得因此異議。
						li 以任何駭客或其它非法行為破壞活動規則者，中獎無效，主辦單位對有關參加者或中獎者保留法律追訴權。
						li 如因寄送過程中發生信件遺失、信封破損或其他不可歸責於主辦單位之原因，導致兌獎憑證遺失或無法辨識，或中獎者資料填寫不完整或不清楚，導致未能或不符資格兌獎，中獎者同意主辦單位無需為此負任何責任。
						li 活動參加者需須保證所有填寫或提出之資料均為真實、正確且有效，並未冒用或盜用他人資料，如有不實、不正確或無效資訊，主辦單位將取消其中獎資格，並就其損害主辦單位或任何第三方權益，保留一切民、刑事追訴之責。
						li 主辦單位有權檢視中獎者兌獎情形，若涉及蓄意操作之不正當行為，如影印、毀損、塗改或偽造中獎憑證、侵入抽獎系統、大量灌票、輸入人頭帳戶抽獎等，足以影響活動抽獎公正性之中獎者，均視為無效中獎，主辦單位並保留法律追訴權。
						li 本活動之所有獎品不得轉換、轉讓或折換現金。
						li 活動主辦單位並非此次活動之所有獎品供應商，故不會承擔任何獎品及售後服務之責任。而獎品價值以贊助商公布之零售價或定價為準，參加者不得異議。
						li 獎項以公布於本網站上的資料為準，如遇不可抗力之因素，主辦單位保留修改活動與獎項細節的權利，無須事前通知，並有權對本活動所有事宜作出解釋或裁決。如本活動因不可抗力之特殊原因無法執行時，主辦單位有權決定取消、終止、修改或暫停本活動，如有任何未盡事宜均以主辦單位依中華民國法律解釋之。
						li 獎品寄送地區僅限為台灣、金門、澎湖、馬祖地區，主辦單位恕不處理郵寄獎項至海外地區之事宜。
						li 中獎者須同意遵守各獎品供應商所列有關獎品之各項條款及細則，且中獎者同意主辦單位對所有領取或使用獎品之後果概無須負責。
						li 本活動網頁之所有內容由主辦單位擁有所有版權，未經許可，不可抄襲、拷貝與複製相關圖片與文字，主辦單位保留所有侵權事宜之法律追訴權利。
						li 參加者參與本活動時，視為同意接受本活動所有內容及細則之規範；倘有違反本活動相關注意規範，主辦單位得取消其中獎資格，並對於任何破壞本活動之行為保留法律追訴權。
						li 如有任何爭議，概以活動主辦單位之最終決定為準。
						li 參加者同意上述事項為加入此品牌及通路行銷活動之必要條件。參加者了解得自由選擇是否加入此品牌及通路行銷活動。
						li 參與本活動者保證所參與過程均為真實且無造假，如有不實或可疑情事，主辦單位有權刪除其參與內容並取消得獎資格。
						li LINE Points使用方式及條款請見LINE官方公告。


				p.f_red.f26.t_left(style="line-height: 1.4") 若有任何疑問，請致電活動小組專線：0809-00-5220，將有專人為您服務。
				br
				br

				p.f_red.f26.t_left(style="line-height: 1.4") 若是有關「天天喝克寧，存健康抽好禮」活動問題，也可以至克寧臉書發送訊息詢問：
					a(href="https://m.facebook.com/KLIM.Taiwan/") https://m.facebook.com/KLIM.Taiwan/
				br
				br








