extends layouts/_layout.pug
include mixins/components.pug

block variables
	- var showHomeIcon = false;

block title
	title 天天喝克寧，存健康抽好禮


block content
	.pop
		.content.rules
			.close
				a(href="./" style="color: #44150d; text-decoration: none;") X
			.scroll
				p.f34.under_line
					font 個人資料蒐集及特別聲明
				.txt
					ul.f26.t_left
						li 本活動參加者本人謹提供之姓名、電話、電子信箱等個人資料，以參加由台灣雀巢股份有限公司所辦理之活動，同意台灣雀巢股份有限公司及虎龍犬工作室以及其所委託從事產品推廣、銷售、客戶服務、市場調查之人員、公司、機構或團體，得為推廣、銷售台灣雀巢股份有限公司所製造、進口、推廣、銷售之產品或服務之範圍內，蒐集、處理及利用本人之以下個人資料。利用之期間、地區、對象及方式均不受限制。
						li 本活動參加者本人了解，就所提供之個人資料依法得行使查詢或請求閱覽、請求製給複製本、請求補充或更正、請求停止蒐集、處理或利用以及請求刪除等權利。
						li 本活動參加者本人了解，簽署本同意書為本人參加活動之必要條件。本人得自由選擇是否參加。
						li 本活動之進行需使用及處理用戶之個人資料，如拒絕提供個人資料予台灣雀巢股份有限公司及虎龍犬工作室，將使台灣雀巢股份有限公司及虎龍犬工作室無法進行本活動之抽獎、通知領獎、兌獎聯繫等相關事宜，故拒絕提供個人資料者，將無法參與本活動。
