extends layouts/_layout_no_header.pug
include mixins/components.pug

block variables
	- var showHomeIcon = false;

block title
	title 天天喝克寧，存健康抽好禮

block content
	.sent_page
		img.cow(src="images/cow.png", alt="")
		h6.f50.f_red 您的寄送資料已經成功送出!
		p.f34
			font
				| 待活動小組查驗您的資格，
				br
				| 若確認您符合得獎資格，將分三梯次寄送：
			font 第一梯次中獎: 2021/1/29~2021/2/28 (含)中獎，2021/3/31前(含)完成寄送。
			font 第二梯次中獎: 2021/3/1~2021/3/31(含)中獎，2021/4/30前(含)完成寄送。
			font 第三梯次中獎: 2021/4/1~2021/4/30(含)中獎，2021/5/30前(含)完成寄送
			br
			| 有任何問題請聯繫活動專線：
			br
			| 0809-00-5220



		+btn('submit')
			a(href="#")
				p.f34 確認



block specific-css
	link(rel='stylesheet', type='text/css', href='css/form_rules.css')
