extends layouts/_layout.pug
include mixins/components.pug

block variables
	- var showHomeIcon = false;

block title
	title 一天一杯克寧 存健康拿好禮


block content
	+vue_coin('','{{info.coins}}','goDraw')

	.store_coin#store
		b.f45
			| 每儲值一枚健康幣
			br
			| 就可以
			font.f_red 抽一次獎
			| 喔!

		.animate_img
			img(style="max-width: 100%;" id="gifStoreTree" src="images/tree.gif" alt="")

	+pop('success',"popSuccess",'','ClosePopSuccess')
	+pop('failure',"popFailure",'','ClosePopFailure')


block specific-js
	script(src='js/plugins/vue.min.js')
	script(type='text/javascript' src="js/plugins/slick.min.js")
	script(type='text/javascript' src="js/index.js")





