extends layouts/_layout.pug
include mixins/components.pug

block variables
	- var showHomeIcon = false;

block title
	title 一天一杯克寧 存健康拿好禮


block content
	+coin('images/userphoto.png', 140, 'goDraw')

	.upload
		label(for="file_0")
			p.f45
				| 請上傳一張
				br
				font.f_red 今日飲用克寧牛奶
				| 的美照
			img.img-thumbnail(src="images/milkphoto.png" alt="")

		input(type="file" name="uploadedimages0" size="20" multiple="" id="file_0" hidden)

		.btn_area
			+btn
				a(href="#")
					p.f34 重新上傳
			+btn
				a(href="#")
					p.f34 確認送出







