<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="天天喝克寧 存健康抽好禮">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="">
    <meta property="twitter:creator" content="">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="天天喝克寧，存健康抽好禮">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K7KMVH4');
      
    </script>
    <title>天天喝克寧，存健康抽好禮</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/plugins/slick.css">
    <link rel="stylesheet" type="text/css" href="css/plugins/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body class="sidebar-mini">
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K7KMVH4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div id="app" style="display: none" v-show="isMounted">
      <!-- Navbar-->
      <header class="app-header">
        <!-- Sidebar toggle button--><img class="logo" src="images/logo.png" alt="">
        <nav role="navigation">
          <ul id="menu"><a href="./index.html">
              <li class="f45"><span>回首頁/解成就</span></li></a><a href="./upload.html">
              <li class="f45"><span>上傳照片</span></li></a><a href="./store.html">
              <li class="f45"><span>立即存健康抽獎</span></li></a><a href="./pop_rules.html">
              <li class="f45"><span>活動辦法</span></li></a><a href="javascript:alert('敬請期待');">
              <li class="f45"><span>得獎名單</span></li></a></ul>
          <div id="menuToggle"><span></span><span></span><span></span></div>
        </nav>
      </header><img class="kv" src="images/title.svg?v=1" alt="">
      <main class="app-content">
        <div class="coin_wrap">
          <div class="photo" v-bind:style="{ backgroundImage: 'url(' + imgAvatar + ')' }"></div>
          <div class="detail">
            <h5 class="f26">累積健康幣</h5>
            <div class="coin f70">{{info.coins}}</div>
          </div>
          <div class="btn small" @click.prevent="GoToURL('./store.html')">
            <p class="f34">存健康幣<br/>立即抽獎</p>
          </div>
        </div>
        <div class="upload" v-if="upload.step==1">
          <label for="file_0">
            <p class="f45">請上傳一張<br><font class="f_red">今日飲用克寧牛奶</font>的美照</p>
            <div class="warning">
              <p class="f_red f28">照片需含有克寧純生乳(100%天然純淨即溶)/全家人奶粉系列產品和一杯牛奶(不限容器)，不然<span class="f32" style="background-color:red; color:white; font-weight:bold;">將失去得獎資格</span></p>
            </div><img class="img-thumbnail" :src="upload.imgThumbnail" alt="">
          </label>
          <input type="file" id="file_0" name="uploadedimages0" accept="image/*" hidden @change="HandleUpload" ref="fileInput">
          <div class="btn_area">
            <div class="btn" @click.prevent="TriggerUpload"><a href="#">
                <p class="f34 btn_upload">上傳照片</p></a></div>
            <div class="btn" @click.prevent="SendUpload"><a href="#">
                <p class="f34">確認送出</p></a></div>
          </div>
        </div>
        <div class="warning" v-if="upload.step==1"><br>
          <ul class="f26">
            <li>一天僅能上傳一次照片，重複上傳恕只能得到一枚健康幣</li>
            <li>請勿重複上傳相同的照片，經發現將取消獲獎資格</li>
            <li>請勿盜用他人的照片，經發現將取消獲獎資格</li>
          </ul>
        </div>
        <div class="upload_get" v-if="upload.step==2">
          <p class="f45 f_red" v-if="picture.isFirst == true">上傳成功獲得健康幣<img src="images/title_line.svg" alt=""></p>
          <p class="f45 f_red" v-if="picture.isFirst == false">上傳成功<img src="images/title_line.svg" alt=""></p>
          <div class="earn_coin" v-if="picture.isFirst == true">
            <p>1</p><img src="images/Hcoin.png" alt="">
          </div>
          <div class="comebined_img"><img class="img-merged" :src="upload.imgMerged" alt=""></div>
          <div class="btn_area">
            <div class="btn"><a href="./index.html">
                <p class="f34 btn_upload">回首頁</p></a></div>
            <div class="btn" @click.prevent="SendShare"><a href="#">
                <p class="f34">立即分享</p></a></div>
          </div>
        </div>
        <div class="warning" v-if="upload.step==2">
          <p class="f_red f26">小秘訣: 分享照片給親朋好友可以獲得一枚健康幣哦 (一天僅限一次)</p>
        </div>
        <div class="pop" style="display: none" v-show="popShareSuccess">
          <div class="content share_success">
            <div class="close" @click.prevent="ClosePopShareSuccess">X</div>
            <h3 class="f55 f_red"><b>分享成功</b></h3>
            <h4 class="f34"><b>&nbsp;</b></h4>
          </div>
        </div>
        <div class="pop" style="display: none" v-show="popUploadGet">
          <div class="content upload_get">
            <div class="close" @click.prevent="ClosePopUploadGet">X</div>
            <p class="f45 f_red">上傳成功{{picture.isFirst == true?'獲得健康幣':''}}<img src="images/title_line.svg" alt=""/></p>
            <div class="earn_coin" v-if="picture.isFirst == true">
              <p>1</p><img src="images/Hcoin.png" alt=""/>
            </div>
            <div class="warning">
              <p class="f_red f26">小秘訣: 分享照片給親朋好友可以獲得一枚健康幣哦 (一天僅限一次)</p>
              <p class="f34 under_line"><font>注意事項</font></p>
              <div class="warning">
                <ul class="f26">
                  <li>一天僅能上傳一次照片，重複上傳恕只能得到一枚健康幣</li>
                  <li>請勿重複上傳相同的照片，經發現將取消獲獎資格</li>
                  <li>請勿盜用他人的照片，經發現將取消獲獎資格</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- Essential javascripts for application to work-->
      <script src="js/plugins/pace.min.js"></script>
      <script src="js/plugins/libgif.js"></script>
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/plugins/axios.min.js"></script>
      <script src="js/plugins/slick.min.js"></script>
      <script src="https://static.line-scdn.net/liff/edge/2/sdk.js" charset="utf-8"></script>
      <script src="https://cdn.jsdelivr.net/npm/vconsole@3.2.0/dist/vconsole.min.js"></script>
      <script src="js/request.js?v=1"></script>
      <script src="js/main.js?v=1" defer></script>
      <!-- Page specific javascripts-->
      <script src="js/plugins/vue.min.js"></script>
      <script type="text/javascript" src="js/plugins/slick.min.js"></script>
      <script type="text/javascript" src="js/index.js?v=12"></script>
      <!-- Page specific css-->
      <!-- Google analytics script-->
      <script type="text/javascript">
        if(document.location.hostname == 'pratikborsadiya.in') {
        	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        	ga('create', 'UA-72504830-1', 'auto');
        	ga('send', 'pageview');
        }
      </script>
    </div>
  </body>
</html>