@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
body,
html {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

#app {
  background-image: url(../images/milkbg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 768px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif !important;
}

img {
  max-width: 100%;
}

b {
  font-weight: bold;
}

.f23 {
  font-size: 23px;
}

.f26 {
  font-size: 26px;
}

.f28 {
  font-size: 28px;
}

.f32 {
  font-size: 32px;
}

.f34 {
  font-size: 34px;
}

.f45 {
  font-size: 45px;
}

.f50 {
  font-size: 50px;
}

.f55 {
  font-size: 55px;
}

.f70 {
  font-size: 70px;
}

.f80 {
  font-size: 80px;
}

.f_red {
  color: #cc0000;
}

.t_left {
  text-align: left;
}

.t_center {
  text-align: center;
}

.W100 {
  width: 100% !important;
}

.bg_white {
  background-color: #fff;
}

.app-header {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
}

.app-header .ques {
  float: left;
  width: 70px;
  line-height: 70px;
  margin: 38px 0 0 38px;
  border-radius: 50%;
  font-weight: 900;
  text-align: center;
  color: #44150d;
  background-color: #ffec9e;
  text-decoration: none;
}

@media (max-width: 650px) {
  .app-header .ques {
    width: 50px;
    line-height: 50px;
    margin: 20px 0 0 20px;
  }
}

.app-header .logo {
  position: absolute;
  top: 18px;
  left: 50%;
  width: 20%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.app-header #menuToggle {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  float: right;
  margin: 38px 38px 0 0;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  background-color: #44150d;
  position: relative;
  padding: 25px 20px;
}

@media (max-width: 650px) {
  .app-header #menuToggle {
    width: 50px;
    height: 50px;
    margin: 20px 20px 0 0;
    padding: 13px 11px;
  }
}

.app-header #menuToggle.show {
  background-color: #ffec9e;
}

.app-header #menuToggle.show span {
  background: #44150d;
}

.app-header #menuToggle.show span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.app-header #menuToggle.show span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.app-header #menuToggle.show span:last-child {
  opacity: 0;
}

.app-header #menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.app-header #menuToggle a:hover {
  color: tomato;
}

.app-header #menuToggle span {
  display: block;
  width: 28px;
  height: 3px;
  margin-bottom: 6px;
  position: relative;
  background: #ffec9e;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
      -ms-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.app-header #menuToggle span:first-child {
  -webkit-transform-origin: 1px 7px;
      -ms-transform-origin: 1px 7px;
          transform-origin: 1px 7px;
}

.app-header #menuToggle span:nth-child(2) {
  -webkit-transform-origin: 16px 3px;
      -ms-transform-origin: 16px 3px;
          transform-origin: 16px 3px;
}

.app-header #menuToggle span:last-child {
  width: 18px;
}

.app-header #menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
      -ms-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.app-header #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
      -ms-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.app-header #menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
      -ms-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.app-header #menu {
  position: absolute;
  z-index: 5;
  right: 0;
  width: 400px;
  padding: 0 0 0 20px;
  height: 150vh;
  padding-top: 125px;
  background: #44150d;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  text-align: left;
}

@media (max-width: 650px) {
  .app-header #menu {
    width: 200px;
    padding: 125px 0 0 10px;
  }
}

.app-header #menu a {
  text-decoration: none;
}

.app-header #menu li {
  font-size: 38px;
  color: #fff;
  line-height: 110px;
}

@media (max-width: 650px) {
  .app-header #menu li {
    font-size: 19px;
    line-height: 55px;
  }
}

.app-header #menu li:before {
  content: '•';
  font-size: 40px;
  color: #fecb00;
}

.app-header #menu li * {
  vertical-align: top;
}

.app-header #menu.show {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.kv {
  width: 50%;
  margin: -15px auto 20px;
  display: block;
}

.point_wrap * {
  vertical-align: middle;
}

.point_wrap img {
  width: 100px;
  display: inline-block;
}

@media (max-width: 650px) {
  .point_wrap img {
    width: 50px;
  }
}

.point_wrap h6 {
  color: #17cd15;
  font-weight: bold;
  display: inline-block;
  padding-left: 10px;
}

.coin_wrap {
  width: 88%;
  margin: 0 auto 25px;
  padding: 22px 20px;
  border-radius: 25px;
  border: dashed 4px #ffffff;
  background-color: #44150d;
  background-image: url(../images/Hcoin_bg.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 650px) {
  .coin_wrap {
    padding: 12px 20px;
    border-radius: 12px;
    border-width: 2px;
    margin-bottom: 12px;
    background-size: 60px;
  }
}

@media (max-width: 414px) {
  .coin_wrap {
    padding: 11px 10px;
  }
}

.coin_wrap .photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 40px;
  margin-left: 20px;
}

@media (max-width: 710px) {
  .coin_wrap .photo {
    margin-right: 20px;
    margin-left: 10px;
  }
}

@media (max-width: 650px) {
  .coin_wrap .photo {
    width: 48px;
    height: 48px;
    margin-right: 20px;
  }
}

@media (max-width: 390px) {
  .coin_wrap .photo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}

.coin_wrap .detail {
  display: inline-block;
}

.coin_wrap .detail h5 {
  padding-bottom: 12px;
  color: #fff;
}

@media (max-width: 650px) {
  .coin_wrap .detail h5 {
    padding-bottom: 8px;
  }
}

.coin {
  font-weight: bold;
  color: #ffec9e;
  padding-left: 60px;
  background-image: url(../images/Hcoin.png);
  background-size: 50px;
  background-position: left center;
  background-repeat: no-repeat;
}

@media (max-width: 650px) {
  .coin {
    background-size: 30px;
    padding-left: 40px;
  }
}

@media (max-width: 375px) {
  .coin {
    background-size: 20px;
    padding-left: 30px;
  }
}

.btn {
  width: 50%;
  padding: 33px 0;
  border-radius: 15px;
  background-color: #fecb00;
  text-align: center;
  margin: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.btn.small, .btn.goDraw {
  width: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 20px;
}

.btn.small {
  padding: 15px 15px 15px 20px;
}

@media (max-width: 650px) {
  .btn.small {
    padding: 8px 8px 8px 10px;
  }
}

.btn.small p {
  line-height: 1.2;
}

.btn.red {
  width: 80%;
  background-color: #cc0000;
}

.btn.red p {
  color: #fff;
}

.btn.red p:after {
  border-color: transparent transparent transparent #fff;
}

.btn.submit {
  background-color: #44150d;
}

.btn.submit p {
  color: #fff;
}

.btn.submit p:after {
  border-color: transparent transparent transparent #fff;
}

.btn .milk {
  width: 67px;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 27px;
  -webkit-transform: rotate(-18deg);
      -ms-transform: rotate(-18deg);
          transform: rotate(-18deg);
}

@media (max-width: 650px) {
  .btn .milk {
    width: 40px;
    top: 14px;
  }
}

@media (max-width: 650px) {
  .btn {
    padding: 20px 0;
    margin: 0 5px;
    border-radius: 7px;
  }
}

.btn p {
  color: #44150d;
  display: inline-block;
  font-weight: bold;
  position: relative;
  padding-right: 35px;
}

@media (max-width: 650px) {
  .btn p {
    padding-right: 20px;
  }
}

.btn p:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #44150d;
  margin-left: 10px;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

@media (max-width: 650px) {
  .btn p:after {
    border-width: 7px 0 7px 10px;
  }
}

.btn p.btn_upload {
  background-image: url(../images/upload.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 42px;
  padding-right: 50px;
}

@media (max-width: 650px) {
  .btn p.btn_upload {
    background-size: 21px;
    padding-right: 25px;
  }
}

.btn p.btn_upload:after {
  display: none;
}

.achieve {
  text-align: center;
}

.achieve > img {
  margin: 25px auto 15px;
  width: 34%;
}

@media (max-width: 650px) {
  .achieve > img {
    margin: 12px auto 8px;
  }
}

.achieve ul {
  width: 88%;
  margin: 0 auto 30px;
  padding: 10px 0;
  border-radius: 25px;
  background-color: #e8e8e8;
}

@media (max-width: 650px) {
  .achieve ul {
    border-radius: 12px;
  }
}

.achieve ul li {
  padding: 30px;
  border-bottom: dashed 4px #ffffff;
}

@media (max-width: 650px) {
  .achieve ul li {
    padding: 15px 0;
    border-width: 2px;
  }
}

.achieve ul li:last-child {
  border-bottom: none;
}

.achieve ul li > * {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
}

.achieve ul li img {
  width: 23%;
}

@media (max-width: 650px) {
  .achieve ul li img {
    width: 21%;
  }
}

.achieve ul li .detail {
  width: 52%;
  text-align: left;
  padding-left: 5%;
}

@media (max-width: 650px) {
  .achieve ul li .detail {
    width: 48%;
    padding-left: 3%;
  }
}

.achieve ul li .detail h6 {
  color: #44150d;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
}

@media (max-width: 650px) {
  .achieve ul li .detail h6 {
    padding-bottom: 0 !important;
  }
}

.achieve ul li .detail .des {
  color: #313131;
  padding-bottom: 10px;
}

.achieve ul li .detail p {
  color: #44150d;
  line-height: 50px;
  height: 50px;
}

@media (max-width: 650px) {
  .achieve ul li .detail p {
    line-height: 30px;
    height: 30px;
    padding-bottom: 0 !important;
  }
}

.achieve ul li .btn {
  width: 19%;
  margin: 0;
}

.achieve ul li .btn.canReceive, .achieve ul li .btn.canCheck {
  color: #fff;
  background-color: #cc0000;
}

.achieve ul li .btn.done {
  color: #373737;
  background-color: #b9b9b9;
}

.achieve ul li .btn.notYet {
  color: rgba(0, 0, 0, 0.3);
  background-color: #b9b9b9;
}

.btn_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.upload,
.upload_get,
.store_coin {
  width: 88%;
  background-color: #e8e8e8;
  border-radius: 25px;
  padding: 60px 0 40px;
  margin: 20px auto;
}

@media (max-width: 650px) {
  .upload,
  .upload_get,
  .store_coin {
    border-radius: 12px;
    padding: 30px 0 20px;
    margin: 10px auto;
  }
}

.upload label,
.upload_get label,
.store_coin label {
  display: block;
}

.upload label > p,
.upload_get label > p,
.store_coin label > p {
  line-height: 1.4;
  margin-bottom: 30px;
  font-weight: bold;
}

@media (max-width: 650px) {
  .upload label > p,
  .upload_get label > p,
  .store_coin label > p {
    margin-bottom: 15px;
  }
}

.upload label > p font,
.upload_get label > p font,
.store_coin label > p font {
  color: #cc0000;
}

.upload .btn,
.upload_get .btn,
.store_coin .btn {
  margin-left: auto;
  margin-right: auto;
}

.upload .img-thumbnail,
.upload_get .img-thumbnail,
.store_coin .img-thumbnail {
  width: 60%;
  margin: 0 auto 40px;
}

@media (max-width: 650px) {
  .upload .img-thumbnail,
  .upload_get .img-thumbnail,
  .store_coin .img-thumbnail {
    margin: 0 auto 20px;
  }
}

.warning {
  text-align: left;
  line-height: 1.4;
  width: 88%;
  margin: 0 auto 20px;
}

.warning .f_red {
  margin-bottom: 10px;
  background-image: url(../images/note.svg);
  background-position: left 5px top;
  background-repeat: no-repeat;
  padding-left: 60px;
  background-size: 34px;
}

@media (max-width: 650px) {
  .warning .f_red {
    margin-bottom: 10px;
    padding-left: 30px;
    background-size: 17px;
  }
}

.warning ul {
  padding-left: 40px;
}

@media (max-width: 650px) {
  .warning ul {
    padding-left: 20px;
  }
}

.warning li {
  color: #44150d;
  list-style-position: outside;
  list-style: decimal;
}

.upload .btn {
  margin-left: 5px;
  margin-right: 5px;
}

.upload_get > p {
  margin: 0 5%;
  position: relative;
  line-height: 1.8;
  padding-bottom: 10px;
  font-weight: bold;
}

.upload_get > p img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.upload_get .btn {
  margin-left: 5px;
  margin-right: 5px;
  letter-spacing: -1px;
}

.store_coin .f45 {
  color: #44150d;
  line-height: 1.5;
}

.earn_coin {
  background-color: #cc0000;
  color: #fff;
  width: 120px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

@media (max-width: 650px) {
  .earn_coin {
    width: 60px;
  }
}

.earn_coin img {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(30%, 0%);
      -ms-transform: translate(30%, 0%);
          transform: translate(30%, 0%);
}

.earn_coin p {
  font-size: 80px;
  line-height: 110px;
  height: 120px;
}

@media (max-width: 650px) {
  .earn_coin p {
    font-size: 40px;
    line-height: 55px;
    height: 60px;
  }
}

.comebined_img {
  width: 60%;
  margin: 20px auto 40px;
}

@media (max-width: 650px) {
  .comebined_img {
    margin: 10px auto 20px;
  }
}

.comebined_img img {
  width: 100%;
}

.ads {
  margin: 0 auto;
  width: 90%;
  background-color: #d8d8d8;
  border-radius: 25px;
  height: 105px;
  padding: 12px 12px 12px 65px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 650px) {
  .ads {
    border-radius: 12px;
    height: 52px;
    padding: 6px 6px 6px 32px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
}

.ads .sub_title {
  background-color: #44150d;
  color: #fecb00;
  position: absolute;
  width: 65px;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  line-height: 65px;
}

@media (max-width: 650px) {
  .ads .sub_title {
    line-height: 32px;
    width: 32px;
  }
}

.ads > * {
  display: inline-block;
  vertical-align: middle;
}

.ads img {
  width: 13%;
  margin-right: 3%;
}

.pop {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.pop .content {
  background-color: #ffec9e;
  border-radius: 25px;
  padding: 130px 20px 90px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #44150d;
  line-height: 1.5;
}

@media (max-width: 650px) {
  .pop .content {
    padding: 65px 10px 45px;
    border-radius: 12px;
  }
}

.pop .content.receive_success {
  padding: 110px 0 140px;
  line-height: 1.5;
}

@media (max-width: 650px) {
  .pop .content.receive_success {
    padding: 50px 0 70px;
  }
}

.pop .content.login {
  padding-bottom: 60px;
  padding-top: 65px;
}

@media (max-width: 650px) {
  .pop .content.login {
    padding-bottom: 30px;
    padding-top: 33px;
  }
}

.pop .content.login_award {
  padding: 0 20px 0;
  background-color: transparent;
}

.pop .content.login_award .close {
  display: none;
}

.pop .content.login_award h3 {
  color: #ffec9e;
  font-weight: bold;
}

.pop .content.login_award h4 {
  color: #fff;
  line-height: 62px;
  padding-top: 24px;
}

@media (max-width: 650px) {
  .pop .content.login_award h4 {
    padding-top: 10px;
    line-height: 30px;
  }
}

.pop .content.login_award h4 span {
  padding-left: 5px;
  line-height: 62px;
  display: inline-block;
  vertical-align: text-top;
}

.pop .content.login_award h4 span.f80 {
  color: #fecb00;
  margin: -6px 10px 0;
}

.pop .content.login_award .img_wrap {
  margin-top: -150px;
  margin-bottom: 140px;
  position: relative;
}

@media (max-width: 650px) {
  .pop .content.login_award .img_wrap {
    margin-bottom: 70px;
    margin-top: -90px;
  }
}

.pop .content.login_award .img_wrap .gift {
  width: 100%;
}

.pop .content.login_award .img_wrap .pure_coin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  animation: coinShow 1.4s;
  -webkit-animation: coinShow 1.4s;
  -moz-animation-iteration-count: 1;
}

@media (max-width: 650px) {
  .pop .content.login_award .img_wrap .pure_coin {
    width: 50px;
  }
}

.pop .content.rules {
  height: calc(100% - 120px);
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 650px) {
  .pop .content.rules {
    height: calc(100% - 60px);
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.pop .content.rules .scroll {
  overflow-y: scroll;
  height: 100%;
}

.pop .content.rules .under_line {
  margin-top: 15px;
}

.pop .content.rules .under_line:before {
  background-color: #fecb00;
}

.pop .content.rules .txt {
  padding: 20px 10px 0;
}

.pop .content.rules .txt li {
  margin-left: 20px;
  list-style: decimal;
  padding-bottom: 10px;
  list-style-position: outside;
}

.pop .content.rules .txt .detail {
  background-color: #fff0b2;
  padding: 40px 20px;
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .pop .content.rules .txt .detail {
    padding: 20px 10px;
    margin-bottom: 10px;
  }
}

.pop .content.rules .txt .detail .f_red {
  padding-top: 0;
}

.pop .content.rules .txt .detail .circle {
  position: relative;
  padding-left: 20px;
  color: #cc0000;
  padding-bottom: 10px;
}

@media (max-width: 650px) {
  .pop .content.rules .txt .detail .circle {
    padding-bottom: 5px;
  }
}

.pop .content.rules .txt .detail .circle:before {
  content: '●';
  position: absolute;
  left: 0;
  top: 0;
}

.pop .content.rules .txt .detail .title {
  padding-top: 20px;
}

@media (max-width: 650px) {
  .pop .content.rules .txt .detail .title {
    padding-top: 10px;
  }
}

.pop .content.rules .txt .detail p {
  line-height: 1.4;
}

.pop .content.rules .warning {
  margin-top: 40px;
  width: 96%;
}

@media (max-width: 650px) {
  .pop .content.rules .warning {
    margin-top: 20px;
  }
}

.pop .content.rules h4.f32 {
  padding: 10px 40px 14px;
  border-radius: 26.5px;
  display: inline-block;
  background-color: #cc0000;
  color: #fff;
  line-height: 1.3;
  margin-top: 40px;
}

@media (max-width: 650px) {
  .pop .content.rules h4.f32 {
    padding: 3px 20px 5px;
    border-radius: 15px;
    margin-top: 20px;
  }
}

.pop .content.close_award {
  padding: 50px 0 0;
}

@media (max-width: 650px) {
  .pop .content.close_award {
    padding: 30px 0 0;
  }
}

.pop .content.close_award .note {
  width: 15%;
  margin: 0 auto;
  display: block;
}

.pop .content.close_award .btn_area {
  margin-top: 65px;
  margin-bottom: -65px;
}

@media (max-width: 650px) {
  .pop .content.close_award .btn_area {
    margin-top: 30px;
    margin-bottom: -30px;
  }
}

.pop .content.close_award .btn {
  position: relative;
  left: 0;
  top: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.pop .content .dash_box {
  width: 96%;
  padding: 0 5% 5%;
  border: dashed 4px #cc0000;
  margin: 6% auto 40px;
}

.pop .content .dash_box .item {
  padding: 0 0 5%;
  border-bottom: solid 1px #cc0000;
}

.pop .content .dash_box .item:last-child {
  border-bottom: none;
}

.pop .content .dash_box .item .f_red {
  padding-bottom: 5%;
  display: block;
  line-height: 1.2;
  font-weight: bold;
}

.pop .content .dash_box .item p {
  padding-top: 5%;
  font-weight: bold;
}

.pop .content .cow,
.pop .content .present {
  position: absolute;
  top: 0;
  left: 0;
  width: 82%;
  -webkit-transform: translate(-6%, -40%);
      -ms-transform: translate(-6%, -40%);
          transform: translate(-6%, -40%);
}

.pop .content .present {
  width: 40%;
  left: 50%;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -o-transform: translate(-50%, -30%);
}

.pop .content p {
  line-height: 1.2;
}

.pop .content .f_red {
  padding-top: 30px;
  display: inline-block;
}

@media (max-width: 650px) {
  .pop .content .f_red {
    padding-top: 15px;
  }
}

.pop .content .award {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 120px;
}

@media (max-width: 650px) {
  .pop .content .award {
    margin-top: 25px;
    margin-bottom: 60px;
  }
}

.pop .content .milk {
  width: 20%;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .pop .content .milk {
    margin-top: 20px;
  }
}

.pop .content .present_title {
  position: relative;
  padding: 0 14%;
  margin-bottom: -20px;
}

@media (max-width: 650px) {
  .pop .content .present_title {
    margin-bottom: -10px;
  }
}

.pop .content .present_title img {
  position: relative;
  line-height: 1.8;
  padding-bottom: 10px;
  font-weight: bold;
}

.pop .content .present_title img.line {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.pop .content .login_list {
  margin: 40px 4% 0;
}

@media (max-width: 650px) {
  .pop .content .login_list {
    margin: 20px 4% 0;
  }
}

.pop .content .login_list ul {
  border: dashed 4px #cc0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
}

.pop .content .login_list li {
  padding: 8px 16px 16px;
  width: 33%;
  text-align: center;
}

@media (max-width: 650px) {
  .pop .content .login_list li {
    padding: 4px 8px 8px;
  }
}

.pop .content .login_list li .bg_white {
  padding: 12px;
  background-color: #fff;
  border-radius: 25px;
  position: relative;
}

@media (max-width: 650px) {
  .pop .content .login_list li .bg_white {
    border-radius: 12px;
    padding: 6px;
  }
}

.pop .content .login_list li .bg_white .check {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  -webkit-transform: translate(28%, 20%);
  -ms-transform: translate(28%, 20%);
  transform: translate(28%, 20%);
  opacity: 0;
}

.pop .content .login_list li span {
  display: block;
}

.pop .content .login_list li p {
  display: inline-block;
  width: 80%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 12px 18px;
  margin-top: 8px;
  max-width: 93px;
}

@media (max-width: 650px) {
  .pop .content .login_list li p {
    padding: 6px 9px;
  }
}

.pop .content .login_list li.done p {
  background-color: #cc0000;
}

.pop .content .login_list li.done .check {
  opacity: 1;
}

.pop .content .login_list li.W100 .bg_white {
  background-image: url(../images/login_bg.png);
  background-size: cover;
  background-position: center;
}

.pop .content .login_list li.W100 .check {
  width: 12%;
}

.pop .content .login_list li.W100 p {
  width: 23%;
}

.pop .content .close {
  width: 70px;
  line-height: 70px;
  border-radius: 50%;
  background-color: #fecb00;
  font-size: 45px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

@media (max-width: 650px) {
  .pop .content .close {
    width: 40px;
    line-height: 40px;
    font-size: 22px;
  }
}

.pop .content .btn {
  position: absolute;
  bottom: -100px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

@media (max-width: 650px) {
  .pop .content .btn {
    bottom: -50px;
  }
}

.spotLight {
  position: relative;
  z-index: 100;
  border: 3px solid #fff;
}

.under_line {
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.under_line:before {
  content: '';
  display: block;
  height: 80%;
  width: 120%;
  left: -10%;
  position: absolute;
  bottom: -20%;
  background-color: #ffec9e;
}

.under_line font {
  position: relative;
  z-index: 5;
}

.guide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.guide .slideshow {
  height: 100vh;
}

.guide .slideshow .slider,
.guide .slideshow .slick-list {
  height: 100vh;
  z-index: 100;
}

.guide .item {
  height: 100vh;
  position: relative;
  z-index: 1;
  outline: none;
}

.guide .item p {
  color: #ffec9e;
  position: absolute;
  line-height: 1.3;
  left: 0;
}

.guide .item img {
  width: 100px;
  position: absolute;
  z-index: 1200;
}

@media (max-width: 650px) {
  .guide .item img {
    width: 51px;
  }
}

.guide .item.slide_1 p {
  top: calc(26vw + 380px);
  width: 100%;
}

@media (max-width: 650px) {
  .guide .item.slide_1 p {
    top: calc(26vw + 230px);
  }
}

.guide .item.slide_1 img {
  top: calc(26vw + 300px);
  right: 10px;
}

@media (max-width: 650px) {
  .guide .item.slide_1 img {
    top: calc(26vw + 190px);
  }
}

.guide .item.slide_2 p {
  top: calc(26vw + 290px);
  width: 80%;
  left: 17%;
}

@media (max-width: 650px) {
  .guide .item.slide_2 p {
    top: calc(26vw + 150px);
  }
}

.guide .item.slide_2 img {
  top: calc(26vw + 200px);
  right: 10px;
}

@media (max-width: 650px) {
  .guide .item.slide_2 img {
    top: calc(26vw + 100px);
  }
}

.guide .item.slide_3 p {
  top: calc(26vw + 520px);
  width: 100%;
}

@media (max-width: 650px) {
  .guide .item.slide_3 p {
    top: calc(26vw + 360px);
  }
}

@media (max-width: 425px) {
  .guide .item.slide_3 p {
    top: calc(26vw + 310px);
  }
}

@media (max-width: 375px) {
  .guide .item.slide_3 p {
    top: calc(26vw + 290px);
  }
}

.guide .item.slide_3 img {
  top: calc(26vw + 800px);
  right: 10px;
}

@media (max-width: 650px) {
  .guide .item.slide_3 img {
    top: calc(26vw + 500px);
  }
}

@media (max-width: 425px) {
  .guide .item.slide_3 img {
    top: calc(26vw + 460px);
  }
}

@media (max-width: 375px) {
  .guide .item.slide_3 img {
    top: calc(26vw + 445px);
  }
}

ul.slick-dots {
  bottom: inherit;
  top: calc(100vh - 50px);
}

.slick-dots li button {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: #808080;
}

.slick-dots li button:before {
  content: '';
}

.slick-dots li.slick-active button {
  background-color: #fecb00;
}

@media (max-width: 650px) {
  .f23 {
    font-size: 11px;
  }
  .f26 {
    font-size: 13px;
  }
  .f28 {
    font-size: 14px;
  }
  .f32 {
    font-size: 16px;
  }
  .f34 {
    font-size: 17px;
  }
  .f50,
  .f45 {
    font-size: 22px;
  }
  .f55 {
    font-size: 27px;
  }
  .f70 {
    font-size: 35px;
  }
  .f80 {
    font-size: 40px;
  }
}

@-webkit-keyframes coinShow {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes coinShow {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
