body {
  background-image: url(../images/milkbg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 768px;
}

.app-header {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
}

.app-header .ques {
  float: left;
  width: 70px;
  line-height: 70px;
  margin: 38px 0 0 38px;
  border-radius: 50%;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  color: #44150d;
  background-color: #ffec9e;
  text-decoration: none;
}

.app-header .logo {
  position: absolute;
  top: 18px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.app-header .home {
  float: right;
  width: 70px;
  line-height: 70px;
  margin: 38px 38px 0 0;
  border-radius: 50%;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  background-color: #44150d;
}

.app-header .home img {
  width: 60%;
}

.kv {
  width: 50%;
  margin: -15px auto 20px;
  display: block;
}

.coin_wrap {
  width: 75%;
  margin: 0 auto 25px;
  padding: 25px 50px;
  border-radius: 25px;
  border: dashed 4px #ffffff;
  background-color: #44150d;
  background-image: url(../images/Kcoin_bg.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  text-align: center;
}

.coin_wrap .photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: solid 2px #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 40px;
  margin-left: -60px;
}

.coin_wrap .detail {
  display: inline-block;
}

.coin_wrap .detail h5 {
  font-size: 26px;
  padding-bottom: 23px;
  color: #fff;
}

.coin {
  font-size: 70px;
  font-weight: bold;
  color: #ffec9e;
  padding-left: 60px;
  background-image: url(../images/Kcoin.png);
  background-size: 50px;
  background-position: left center;
  background-repeat: no-repeat;
}

.btn {
  width: 321px;
  padding: 40px 0;
  border-radius: 15px;
  background-color: #fecb00;
  text-align: center;
  margin: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn p {
  color: #44150d;
  font-size: 34px;
  display: inline-block;
}

.btn p:after {
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #44150d;
  margin-left: 10px;
}

.achieve {
  text-align: center;
}

.achieve > img {
  margin: 25px auto 15px;
  max-width: 260px;
}

.achieve ul {
  width: calc(90% - 20px);
  margin: 0 auto 30px;
  padding: 20px 0;
  border-radius: 20px;
  background-color: #e8e8e8;
}

.achieve ul li {
  padding: 20px;
  border-bottom: dashed 4px #ffffff;
}

.achieve ul li:last-child {
  border-bottom: none;
}

.achieve ul li > * {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
}

.achieve ul li img {
  width: 21%;
  margin-left: 2%;
}

.achieve ul li .detail {
  width: 52%;
  text-align: left;
  padding-left: 5%;
}

.achieve ul li .detail h6 {
  font-size: 32px;
  color: #44150d;
  padding-bottom: 10px;
}

.achieve ul li .detail .des {
  color: #313131;
  padding-bottom: 10px;
}

.achieve ul li .detail .des font {
  color: #cc0000;
}

.achieve ul li .detail p {
  font-size: 28px;
  color: #44150d;
  line-height: 50px;
  height: 50px;
}

.achieve ul li .btn {
  width: 18%;
  font-size: 32px;
}

.achieve ul li .btn.canReceive {
  color: #fff;
  background-color: #cc0000;
}

.achieve ul li .btn.done {
  color: #373737;
  background-color: #b9b9b9;
}

.achieve ul li .btn.notYet {
  color: rgba(0, 0, 0, 0.3);
  background-color: #b9b9b9;
}

.btn_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#img-upload {
  width: 100%;
}

button > a {
  color: #fff;
}

button > a:hover {
  color: #fff;
  text-decoration: none;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(15, 158, 155, 0.7);
  z-index: 9999;
}

.loading .box {
  font-size: 0.22rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: opac 2s infinite linear;
          animation: opac 2s infinite linear;
}

.box.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.loading span {
  width: 50em;
  height: 50em;
  display: block;
  position: absolute;
  top: calc(50% - 25em);
  left: calc(50% - 25em);
  border: 1px solid;
  border-color: #fff transparent #fff transparent;
  border-radius: 50%;
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes opac {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes opac {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
