body {
  background-image: url(../images/milkbg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 768px;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

b {
  font-weight: bold;
}

.f26 {
  font-size: 26px;
}

.f28 {
  font-size: 28px;
}

.f32 {
  font-size: 32px;
}

.f34 {
  font-size: 34px;
}

.f45 {
  font-size: 45px;
}

.f50 {
  font-size: 50px;
}

.f70 {
  font-size: 70px;
}

.f_red {
  color: #cc0000;
}

.app-header {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
}

.app-header .ques {
  float: left;
  width: 70px;
  line-height: 70px;
  margin: 38px 0 0 38px;
  border-radius: 50%;
  font-weight: 900;
  text-align: center;
  color: #44150d;
  background-color: #ffec9e;
  text-decoration: none;
}

@media (max-width: 600px) {
  .app-header .ques {
    width: 50px;
    line-height: 50px;
    margin: 20px 0 0 20px;
  }
}

.app-header .logo {
  position: absolute;
  top: 18px;
  left: 50%;
  width: 20%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.app-header .home {
  float: right;
  width: 70px;
  line-height: 70px;
  margin: 38px 38px 0 0;
  border-radius: 50%;
  background-color: #44150d;
}

.app-header .home img {
  width: 60%;
  vertical-align: text-bottom;
}

@media (max-width: 600px) {
  .app-header .home {
    width: 50px;
    line-height: 50px;
    margin: 20px 20px 0 0;
  }
}

.kv {
  width: 50%;
  margin: -15px auto 20px;
  display: block;
}

.coin_wrap {
  width: 88%;
  margin: 0 auto 25px;
  padding: 25px 50px;
  border-radius: 25px;
  border: dashed 4px #ffffff;
  background-color: #44150d;
  background-image: url(../images/Kcoin_bg.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  text-align: center;
}

@media (max-width: 600px) {
  .coin_wrap {
    padding: 12px 20px;
    border-radius: 12px;
    border-width: 2px;
    margin-bottom: 12px;
  }
}

.coin_wrap .photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: solid 2px #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 40px;
  margin-left: -60px;
}

@media (max-width: 600px) {
  .coin_wrap .photo {
    width: 45px;
    height: 45px;
    margin-right: 20px;
  }
}

.coin_wrap .detail {
  display: inline-block;
}

.coin_wrap .detail h5 {
  padding-bottom: 23px;
  color: #fff;
}

@media (max-width: 600px) {
  .coin_wrap .detail h5 {
    padding-bottom: 15px;
  }
}

.coin {
  font-weight: bold;
  color: #ffec9e;
  padding-left: 60px;
  background-image: url(../images/Kcoin.png);
  background-size: 50px;
  background-position: left center;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .coin {
    background-size: 30px;
    padding-left: 40px;
  }
}

.btn {
  width: 50%;
  padding: 40px 0;
  border-radius: 15px;
  background-color: #fecb00;
  text-align: center;
  margin: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 600px) {
  .btn {
    padding: 20px 0;
    margin: 0 5px;
    border-radius: 7px;
  }
}

.btn p {
  color: #44150d;
  display: inline-block;
  font-weight: bold;
}

.btn p:after {
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #44150d;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .btn p:after {
    border-width: 7px 0 7px 10px;
  }
}

.btn p.btn_upload {
  background-image: url(../images/upload.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 42px;
  padding-right: 50px;
}

.btn p.btn_upload:after {
  display: none;
}

.achieve {
  text-align: center;
}

.achieve > img {
  margin: 25px auto 15px;
  width: 50%;
}

@media (max-width: 600px) {
  .achieve > img {
    margin: 12px auto 8px;
  }
}

.achieve ul {
  width: 88%;
  margin: 0 auto 30px;
  padding: 10px 0;
  border-radius: 25px;
  background-color: #e8e8e8;
}

@media (max-width: 600px) {
  .achieve ul {
    border-radius: 12px;
  }
}

.achieve ul li {
  padding: 30px;
  border-bottom: dashed 4px #ffffff;
}

@media (max-width: 600px) {
  .achieve ul li {
    padding: 15px;
    border-width: 2px;
  }
}

.achieve ul li:last-child {
  border-bottom: none;
}

.achieve ul li > * {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
}

.achieve ul li img {
  width: 23%;
}

@media (max-width: 600px) {
  .achieve ul li img {
    width: 21%;
  }
}

.achieve ul li .detail {
  width: 52%;
  text-align: left;
  padding-left: 5%;
}

@media (max-width: 600px) {
  .achieve ul li .detail {
    width: 48%;
    padding-left: 3%;
  }
}

.achieve ul li .detail h6 {
  color: #44150d;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media (max-width: 600px) {
  .achieve ul li .detail h6 {
    padding-bottom: 0 !important;
  }
}

.achieve ul li .detail .des {
  color: #313131;
  padding-bottom: 10px;
}

.achieve ul li .detail p {
  color: #44150d;
  line-height: 50px;
  height: 50px;
}

@media (max-width: 600px) {
  .achieve ul li .detail p {
    line-height: 30px;
    height: 30px;
    padding-bottom: 0 !important;
  }
}

.achieve ul li .btn {
  width: 19%;
  margin: 0;
}

.achieve ul li .btn.canReceive {
  color: #fff;
  background-color: #cc0000;
}

.achieve ul li .btn.done {
  color: #373737;
  background-color: #b9b9b9;
}

.achieve ul li .btn.notYet {
  color: rgba(0, 0, 0, 0.3);
  background-color: #b9b9b9;
}

.btn_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.upload,
.upload_get,
.store_coin {
  width: 88%;
  background-color: #e8e8e8;
  border-radius: 25px;
  padding: 60px 0 40px;
  margin: 20px auto;
}

@media (max-width: 600px) {
  .upload,
  .upload_get,
  .store_coin {
    border-radius: 12px;
  }
}

.upload label,
.upload_get label,
.store_coin label {
  display: block;
}

.upload label p,
.upload_get label p,
.store_coin label p {
  line-height: 1.4;
  margin-bottom: 30px;
  font-weight: bold;
}

.upload label p font,
.upload_get label p font,
.store_coin label p font {
  color: #cc0000;
}

.upload .btn,
.upload_get .btn,
.store_coin .btn {
  margin-left: auto;
  margin-right: auto;
}

.upload .img-thumbnail,
.upload_get .img-thumbnail,
.store_coin .img-thumbnail {
  width: 60%;
  margin: 0 auto 40px;
}

.upload_get > p {
  margin: 0 5%;
  position: relative;
  line-height: 1.8;
  padding-bottom: 10px;
  font-weight: bold;
}

.upload_get > p img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.store_coin .f45 {
  color: #44150d;
}

.store_coin .animate_img img {
  margin: 20px auto 40px;
}

.earn_coin {
  background-color: #cc0000;
  color: #fff;
  width: 120px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.earn_coin img {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(30%, 0%);
      -ms-transform: translate(30%, 0%);
          transform: translate(30%, 0%);
}

.earn_coin p {
  font-size: 80px;
  line-height: 120px;
}

.comebined_img {
  width: 60%;
  margin: 20px auto 40px;
}

.comebined_img img {
  width: 100%;
}

.ads {
  margin: 0 auto;
  width: 90%;
  background-color: #d8d8d8;
  border-radius: 25px;
  height: 105px;
  padding: 12px 12px 12px 65px;
  position: relative;
  overflow: hidden;
}

.ads .sub_title {
  background-color: #44150d;
  color: #fecb00;
  position: absolute;
  width: 65px;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  line-height: 65px;
}

.ads > * {
  display: inline-block;
  vertical-align: middle;
}

.ads img {
  width: 13%;
  margin-right: 3%;
}

.pop {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pop .content {
  background-color: #ffec9e;
  border-radius: 25px;
  padding: 130px 20px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pop .content .cow {
  position: absolute;
  top: 0;
  left: 0;
  width: 82%;
  -webkit-transform: translate(-6%, -40%);
      -ms-transform: translate(-6%, -40%);
          transform: translate(-6%, -40%);
}

.pop .content .close {
  width: 70px;
  line-height: 70px;
  border-radius: 50%;
  background-color: #fecb00;
  font-size: 45px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

@media (max-width: 600px) {
  .f26 {
    font-size: 13px;
  }
  .f28 {
    font-size: 14px;
  }
  .f32 {
    font-size: 16px;
  }
  .f34 {
    font-size: 17px;
  }
  .f50,
  .f45 {
    font-size: 25px;
  }
  .f70 {
    font-size: 35px;
  }
}
